# MacOS Ignores
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow/dags/__pycache__/
airflow/*.db

# Docker
*.pid
docker-compose.override.yml

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log
logs/

# Generated data files
data/*.csv
airflow/dags/data/